@{ Layout = "_Layout"; }

<h1>Go Fishin'</h1>
<form action="play/new" method="post">
  <section>
    <label for="name">Your Name</label>
    <input id="name" name="name" type="text" />
  </section>
  <section>
    <label for="codeword">your_codeword</label>
    <input id="codeword" name="codeword" type="text" />
  </section>
  <button type="submit">Join</button>
</form>
